h1 {
    font-size: 28px;
    text-align: center;
	color: #0000CD;
}
div.image_gallery {
    margin: 30px 150px;
    width: 1200px;
    text-align: center;
    max-width: 90%; /* контейнер не превышает 90% ширины экрана */
    min-width: 500px;
}
img {
    float: left;
    max-width: 40%;
    height: 250px;
    padding: 0.5%; /* небольшие оступы для изображений */
}

body {
    font-family: 'Lobster', cursive;
	background-image: url("http://siryx.ru/_ph/27/116884545.jpg");	
	background-repeat: no-repeat;
}

@media screen and (max-width: 768px) { /* разрешение планшета */
    h1 {
        font-size: 26px;
		color: white;
		background-color: blue;
    }
    div.image_gallery {
        min-width: 320px;
		margin: 0 auto;
    }
    img {
        max-width: 48%; /* 2 изображения в ряд */
        height: auto;
        padding: 1%; /* небольшие оступы для изображений */
    }
	
	body {
	font-family: 'Lobster', cursive;
	background-image: url("http://siryx.ru/_ph/27/116884545.jpg");	
	background-repeat: no-repeat;
	}
}


@media screen and (max-width: 480px) { /* разрешение смартфона */
    h1 {
        min-width: 320px;
        font-size: 20px;
    }
    div.image_gallery {
        width: 320px;
        min-width: 320px;
    }
    img {
        max-width: 98%;
        height: auto;
        padding: 1%; /* небольшие оступы для изображений */
    }
	
	body {
    font-family: 'Lobster', cursive;
	background-image: url("http://siryx.ru/_ph/27/116884545.jpg");	
	background-repeat: repeat;
	background-attachment: fixed;
}
	
}


* {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


